<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuo.cache.cachedemo.mapper.UserMapper">
<select id="getUserByName" resultType="com.zuo.cache.cachedemo.pojo.User" parameterType="String">
    SELECT * FROM t_user WHERE name = #{0}
</select>
</mapper>